/*  цвет */

/* цвет основного текста: rgba(117, 117, 117, 1) */
/* цвет акцента кнопка портфолио Logo и ссылки (синий): rgba(33, 150, 243, 1) */
/* белый цвет: #FFFFFF; */
/* чорний цвет h-h3: rgba(33, 33, 33, 1) */
/* цвет background hero, footer: rgba(47, 48, 58, 1) */

/* variable */

/* colors */

  $title-text-color: rgba(33, 33, 33, 1);
  $primary-text-color: rgba(117, 117, 117, 1);
  $аccent-color: rgba(33, 150, 243, 1);
  $background-color: #ffffff;
  $button-accent-color: #188ce8;
  $footer-backgraund-color: rgba(47, 48, 58, 1);
  $team-section-bg-color: #f5f4fa;
  $footer-input-color: rgba(255, 255, 255, 0.6);
  $social-icons-accent-color: #2196f3;

/* fonts */

  $base-f-family: 'Roboto', sans-serif;
  $f-family-logo: 'Raleway', sans-serif;
  $f-weight-medium: 500;
  $f-weight-bolt: 700;
  $f-weight-black: 900;
  $prime-f-size: 14px;
  $prime-line-height: 1.71;
  $prime-letter-spacing: 0.03em;

  /* cubic bezier*/
  
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
